.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


# gh-pages

build/
config/
docs/
packages/
./static/
test/
types/
.babelrc
.editorconfig
.eslint*
.travis.yml
.postcss*
.stylelintrc
package.json
package-lock.json
README.node_modules
yarn.lock
./index.html

