@import '../less/common/var.less';

@radio-size: 20px;

.h-radio {
  overflow: hidden;
  user-select: none;

  &__input,
  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__input {
    position: relative;
    height: 1em;
    font-size: @radio-size;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
  }
  &__label {
    margin-left: 10px;
    line-height: @radio-size;
  }
  .h-icon {
    width: 1em;
    font-size: inherit;
    pointer-events: none;
  }

  .h-icon-checked {
    color: @green;
  }

  .h-icon-check {
    color: @gray-dark;
  }

  &--disabled {
    .h-icon {
      color: @gray-light;
      background-color: @background-color;
      border-radius: 100%;
    }
  }
}
